@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

@font-face {
    font-family: "Android";
    src: url("../fonts/idroid.otf") format("opentype");
    font-weight: normal;
}


:root{
    --color_1: #c5ebd6;
    --color_2: #83e1ad;
    --color_3: #3ddc84;
    --color_4: #2fa866;
    --color_5: #063d1e;
    --links_color: #0d6b36;
    --links_color_ul: #042613;

    --android-font: "Android";
    --default-font: "Roboto";
    --extra-font: "Bebas Neue";
}

*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: #d2d298;
    margin: auto;
}

a{
    margin: 0;
    padding: 0;
    display: inline;
    text-decoration: none;
}

.main{
    background-color: #FFF;
    border-radius: 0px 0px 7px 7px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.257);

    padding: 15px;
    margin: auto;
    max-width: 1000px;
}

.main p{
    text-align: justify;
    line-height: 2em;
    font-family: var(--default-font);
    text-indent: 1em;
    margin: 15px 0px;
}

.main a{
    color: var(--links_color);
}

.main a:hover{
    text-decoration: underline;
    color: var(--color_3);
}

.main-content img{
    width: 100%;
    border-radius: 5px;
}

.main-content img#small-img-bugdroid{
    width: 350px;
    display: block;
    margin: auto;
}

.main-content img#dandroids{
    width: 80%;
    display: block;
    margin: auto;
    padding: 20px;
}

.main-content > h1,h2{
    font-family: "Android";
    color: var(--links_color);
}

.main-content > h1{
    font-size: 1.8em;
}

.main-content > h2{
    font-size: 1.5em;
}

.main-content p > a > abbr{
    text-decoration: none;
}

.main-content p#description-dandroids{
    text-align: center;
    font-size: 0.8em;
    font-style: italic;
    margin: 20px 0px;
}

/*----------------------------------------------*/


.periferic-content{
    background-color: var(--color_3);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 15px;
}

.periferic-content ul{
    columns: 3;
    margin: 20px 0px 20px 50px;
}

.periferic-content > p{
    text-indent: 0;
    line-height: 1.2em;
}

.periferic-content > h3{
    font-family: var(--default-font);
    background-color: var(--color_5);
    font-size: 1em;
    margin: -21px -15px 0px -15px;
    padding: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    color: #FFF;
}

.periferic-content a{
    text-decoration: underline;
    color: var(--links_color_ul);
}

.periferic-content a:hover{
    color: var(--color_5);
    background-color: rgba(0, 0, 0, 0.213);
    padding: 2px;
    border-radius: 2px;
}

.periferic-content abbr{
    font-family: var(--default-font);
    text-decoration: underline;
    cursor: pointer;
}


@media (max-width: 550px) {
    .periferic-content ul{
        columns: 2;
        margin: 20px 0px 20px 30px;
        padding-right: 10px;
    }
}

/*----------------------------------------------*/


.video{
    background-color: var(--color_5);
    margin: 30px -15px;
    padding-bottom: 62%;
    position: relative;
}

.video > iframe{
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.316);
    border-radius: 4px;
    position: absolute;
    top: 10%;
    left: 5%;
    width: 90%;
    height: 79%;
}


/*----------------------------------------------*/

.footer{
    background-color: rgb(31, 31, 31);
    margin-top: 50px;
    padding: 5px;
}

.footer > p{
    font-family: var(--default-font);
    font-size: 0.9em;
    color: #FFF;
    text-align: center;
    letter-spacing: 1px;
}

.footer a{
    color: #FFF;
    font-weight: bold;
    letter-spacing: 1px;
}

.footer a:hover{
    text-decoration: underline;
}