@charset "UTF-8";

body {
    background-color: var(--purple);
    width: 100vw;
    height: 100vh;  
    position: relative;
}

.main {
    position: absolute;
    top: 50%;
    left: 50%;
    
    background-color: #FFFFFF;
    overflow: hidden;
    border-radius: 20px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.327);
    width: 80vw;

    transform: translate(-50%, -50%);
    transition: width .3s, height .3s;
    transition-timing-function: ease;
}

.main section#image {
    background: var(--purple) var(--image_path) no-repeat;
    background-size: cover;
    background-position: center center;

    display: block;
    width: 80vw;
    height: 300px;
}

.main section#form {
    display: block;
    width: 80vw;
    padding: 15px;
}

.main section#form h1 {
    font: 1.6em var(--default-font);
    font-weight: bolder;
    text-align: center;
    color: #323232;
    margin: 10px;
}

.main section#form form input.input-box {
    display: block;
    width: 100%;
    height: 35px;
    
    margin-bottom: 10px;
    margin-top: 2px;
    border-radius: 8px;
    padding: 10px;

    font-size: 0.7em;
    border: 1px solid rgba(121, 120, 120, 0.65);
}

.main section#form form input.input-box:focus {
    border: 1px solid var(--green);
    outline: 2px solid #54b6b360;
    transition: border .1s, outline .1s;
}

.main section#form form label {
    font: 0.7em var(--default-font);
    font-weight: 600;
    padding: 5px 0px;
    color: #323232;
}

.main section#form form label:hover {
    cursor: pointer;
}

.main section#form form input#signin-button {
    display: block;
    width: 100%;
    height: 38px;

    padding: 5px;
    border-radius: 6px;
    margin-top: 30px;
    margin-bottom: 10px;

    font-weight: bold;
    text-align: center;
    background-color: var(--green);
    color: #FFFFFF;
    border: none;
}

.main section#form form input#signin-button:hover {
    cursor: pointer;
    background-color: #54b6b3;
    transition: background-color .3s;
}

.main section#form form input#signup-button {
    display: block;
    width: 100%;
    height: 38px;
    
    padding: 5px;
    border-radius: 6px;
    margin-top: 10px;
    margin-bottom: 10px;

    border: none;
    font-weight: bold;
    text-align: center;
    border: 1px solid var(--green);
    background-color: #FFFFFF;
    color: #323232;
}

.main section#form form input#signup-button:hover {
    color: #FFFFFF;
    cursor: pointer;
    background-color: #54b6b3;
    transition: background-color .3s, color .3s;
}
